
<br>
<div class="container-fluid"> 
    <div class="shadow-lg p-3 mb-5 bg-light rounded"> 
<form #formulario=ngForm (ngSubmit)="getMercancia(formulario)">
<div class="form-row">
<div class="form-group col-md-4">
    <input type="text" class="form-control" name="_id"
    #_id="ngModel"  [(ngModel)]=o.m._id placeholder="buscar por ID" required>
</div>
</div>
<div class="form-action-row" *ngIf="!mercancia">
    <button type="submit"  class="btn btn-success">enter</button>
    <button type="reset" class="btn btn-danger"> cancelar</button> 
   </div>
</form>
  

 

 <div *ngIf="mercancia  "> 
    <table class="table table-hover table-responsive-sm table-bordered" >
        <thead>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Mercancia</th>
              <th scope="col">Cantidad Intacta</th>
              <th scope="col">Cliente</th>
              <th scope="col">ID Cliente</th>
          </tr>
        </thead>
        <tbody>
            <tr >
            <th scope="row-md-3">{{mercancia._id}} </th>
            <td>{{mercancia.nombre}}</td>
            <td> {{mercancia.cantidad_buen_estado}} </td>
            <td>{{mercancia.responsable}}</td>
            <td>{{mercancia.id_cliente}}</td>
            <td>
              <a role="button" class="btn btn-sm" (click)="edit(mercancia)" >
                <i class="material-icons" style="color: blue;">edit</i>
                </a>
              <a role="button" class="btn  btn-sm" >
                  <i class="material-icons" style="color: rgba(255, 30, 0, 0.829);">delete</i>
              </a>
              
            </td>
            
          </tr>
                   
        </tbody>
        
      </table>
      <form #formulario=ngForm (ngSubmit)="editarMercancia(formulario)"  (ngSubmit)="methodo(formulario)">
        <div class="form-row">
           
            <div class="form-group col-md-4">
              
              <input type="text" class="form-control" name="responsable"
              #responsable="ngModel"  [(ngModel)]=o.m.responsable placeholder="Solicitante"  required> 
              <!--esto es lo que hace que funcione-->
          </div>
          <div class="form-group col-md-4">
             
            <input type="text" class="form-control" name="id_cliente"
            #id_cliente="ngModel"  [(ngModel)]=o.m.id_cliente placeholder="ID de cliente" required> <!--esto es lo que hace que funcione-->
        </div>
        <div class="form-group col-md-4">
           
          <input type="text" class="form-control" name="telefono"
          #telefono="ngModel"  [(ngModel)]=o.m.telefono placeholder="Telefono Cliente"  required>  <!--esto es lo que hace que funcione-->
      </div>
      <div class="form-group col-md-4">
         
        <input type="email" class="form-control" name="mail" placeholder="E-mail Cliente"
        #mail="ngModel"  [(ngModel)]=o.m.mail  required> <!--esto es lo que hace que funcione-->
      </div>
      <div class="form-group col-md-4">
        <input type="hidden" class="form-control" name="_id"
        #_id="ngModel" [(ngModel)]=o.m._id  required> <!--esto es lo que hace que funcione-->
    </div>
       
    
            </div>
        <div class="form-row">
          <div class="form-group col-md-4">
         <label>Cantidad de Carga (KG-L)</label>
         
                 <input type="number" class="form-control" min="1" max="mercancia.cantidad_buen_estado"  name="cantidad_buen_estado" #cantidad_buen_estado="ngModel" 
                [(ngModel)]= o.m.cantidad_buen_estado
                 placeholder="Cantidad buen estado" required> 
         </div>
         <div class="form-group col-md-4">
          <label>Fecha de salida</label>
          
          <input type="date" class="form-control" id="f_salida" name="f_salida" #f_salida="ngModel"
           [(ngModel)]= o.m.f_salida   
          placeholder="Salida" required> 
          </div>
        </div>
     <div class="form-action-row" >
      <button type="submit" class="btn btn-success">enter</button>
      <button type="reset" class="btn btn-danger" (click)="cancel()">limpiar</button> 
     </div>
    </form>

    </div>
    <div class="row-sm-4" *ngIf="alerta1">
      <div class="col-sm-4 alert alert-success alert-dismissible fade show" role="alert">  <!--exito-->
        <strong> {{alerta0}} </strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)=" resetAlerta()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row-sm-4" *ngIf="alerta2">
        <div class="col-sm-4 alert alert-danger alert-dismissible fade show" role="alert">
          <strong> {{alerta0}}</strong>                              <!--Fallo-->
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)=" resetAlerta()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
     </div>
     

</div><!--  esto era una prueba
<footer>
  <div>
    <table class="table table-hover table-responsive-sm table-bordered" >
      <thead>
        <tr>
            <th scope="col">f_salida</th>
            <th scope="col">_id</th>
            <th scope="col">cantidad_buen_estado</th>
            <th scope="col">telefono</th>
            <th scope="col">mail</th>
            <th scope="col">id_cliente</th>
            <th scope="col">responsable</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let a of b.arreglo  ">
          
          <td>{{a.f_salida}}</td>
          <td>{{a._id}}</td>
          <td>{{a.cantidad_buen_estado }}</td>
          <td>{{a.telefono}}</td>
          <td>{{a.mail}}</td>
          <td>{{a.id_cliente}}</td>
          <td>{{a.responsable}}</td>
          
        </tr>
                 
      </tbody>
      
    </table>
    

  </div>
</footer>-->