  <br>

 <div class="container-fluid"  >
      <div class="shadow-lg p-3 mb-5 bg-light rounded">
   <form #formulario=ngForm (ngSubmit)="crearMerca(formulario)">
     <div class="form-row"> <!--MERCANCIA-->
        <div class="form-group col-md-3">
          <label>Id Mercancia</label>
          <input type="text" class="form-control" name="_id"
           #_id="ngModel"  [(ngModel)]=o.m._id placeholder="ID" required>
        </div>
        <div class="form-group col-md-3">
            <label>Nombre</label>
            <input type="text" class="form-control" name="nombre" 
            #nombre="ngModel" [(ngModel)]=o.m.nombre placeholder="Nombre" required>          
        </div>
        <div class="form-group col-md-4">
          <label>Tipo Mercancia</label>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo Mercancia</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01" name="tipo_mercancia" #tipo_mercancia="ngModel" [(ngModel)]=o.m.tipo_mercancia value="Pedecedera">
                <option selected>Pedecedera</option>
                <option>No Pedecedera</option>               
              </select>
            </div>
          
        </div>
      </div>
     
        <div class="form-group"> <!--MERCANCIA-->
            <div class="form-check">
          <input type="checkbox" class="form-check-input" data-toggle="collapse" data-target="#cantidad_averiada">
          <label class="form-check-label">Carga Averiada</label>
          </div>       <!--TRUCO COLAPSE-->
          <div class="collapse" id="cantidad_averiada">
              <label>cantidad(KG-L)</label>
            <input class="form-group" type="number" defalult value="0" min="0" name="cantidad_mal_estado" #cantidad_mal_estado="ngModel"
            [(ngModel)]=o.m.cantidad_mal_estado placeholder="averiada">
             </div>
          <div class="form-row">
              <div class="form-group col-sm-3">
             <label>Cantidad de Carga (KG-L)</label>
             <input type="number" class="form-control" min="1" name="cantidad_buen_estado" #cantidad_buen_estado="ngModel" 
             [(ngModel)]=o.m.cantidad_buen_estado placeholder="Cantidad" required> 
         </div>
         <div class="form-group col-sm-3">
            <label>Fecha Entrada</label>
            <input type="date" class="form-control" name="f_entrada" #f_entrada="ngModel"
            [(ngModel)]=o.m.f_entrada placeholder="fecha_entrada" required> 
          </div>
          <div class="form-group col-sm-3">
            <label>Lote</label>
            <input type="text" class="form-control" name="lote" #lote="ngModel"
            [(ngModel)]=o.m.lote placeholder="Lote Mercancia" required> 
          </div>
         
         </div>
         <div class="form-check">
            <input type="checkbox" class="form-check-input" data-toggle="collapse" data-target="#caducidad">
            <label class="form-check-label">Fecha Caducidad</label>
          </div>  <!--TRUCO COLAPSE-->
          <div class="collapse" id="caducidad">
              <label>Fecha de Caducidad</label>
            <input class="form-group" type="date" name="fecha_caducidad" #fecha_caducidad="ngModel"
            [(ngModel)]=o.m.fecha_caducidad placeholder="caducidad">
             </div>
          </div>
      <div class="form-row"> <!--CLIENTE-->
        <div class="form-group col-md-3">
          <label>Nombre Cliente</label>
          <input class="form-control" type="text" name="responsable" #responsable="ngModel"
          [(ngModel)]=o.m.responsable.nombre placeholder="Cliente" required>         
        </div>
       <div class="form-group col-md-3">
            <label>ID Cliente</label>
            <input class="form-control" id="id_cliente" type="text" name="id_cliente"
            #id_cliente="ngModel" [(ngModel)]=o.m.id_cliente placeholder="id_cliente" required>
          </div>
          <div class="form-group col-md-3">
              <label>Telefono Cliente</label>
              <input class="form-control" type="text" name="telefono" #telefono="ngModel"
              [(ngModel)]=o.m.telefono placeholder="Telefono" required>
          </div>
          <div class="form-group col-md-3">
              <label>E-mail Cliente</label>
              <input class="form-control" type="mail" name="mail" #mail="ngModel"
              [(ngModel)]=o.m.mail placeholder="E-mail" required>
          </div>
          <div class="form-group col-md-3">
            <label>Serial Contenedor</label>
            <input class="form-control" type="number" name="serial_container" #serial_container="ngModel"
            [(ngModel)]=o.m.serial_container placeholder="Serial" required>
        </div>
        
        </div><label><h3>Bodega</h3> </label>
        <div class="card card-body" *ngIf="!f">
          <div class="grid grid-pad">       
              <a  *ngFor="let position of  b.lista_posicion" class="col-1-4" role="button">                     
                <div *ngIf="position.disponibilidad" [class.selected]="position===posi" 
                (click)="abrir(position)"class="module">
                    <h5>{{position.id_posicion}}</h5> 
                    <div class="form-action">
                      <button class="btn btn-info" type="button" (click)="asignar(position)">asignar</button>
                    </div>                         
                </div>
              </a>                 
            </div>
      </div>
          
        <div class="form-action-row" >
          <button type="submit" class="btn btn-success">enter</button>
          <button type="reset" class="btn btn-danger"> cancelar</button> 
          
         </div>
          
      </form>

      <div class="row-sm-4" *ngIf="alerta1">
          <div class="col-sm-4 alert alert-success alert-dismissible fade show" role="alert">  <!--exito-->
            <strong> Entrada exitosa </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)=" resetAlerta()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="row-sm-4" *ngIf="alerta2">
            <div class="col-sm-4 alert alert-danger alert-dismissible fade show" role="alert">
              <strong> Entrada fallida </strong>                              <!--Fallo-->
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)=" resetAlerta()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
    </div>
    

   
  </div>