 
    <div class="navbar fixed-top navbar-light  p-1 mb-1 bg-primary" *ngIf="!l.nav">
        
        <button class="btn btn-small col-sm-11"  style="text-align: right"  (click)="log()">
           
        <i class="material-icons  md-52 " data-toggle="tooltip" data-placement="bottom" title="Login" style=" font-size:38px; color:rgb(255, 255, 255);">account_circle </i>
        
        </button> 
       </div>
 
       <div class="navbar fixed-top navbar-light  p-1 mb-1 bg-secondary" *ngIf="l.nav2">
        
        <button class="btn btn-small col-sm-11"  style="text-align: right"  (click)="close()">
           
        <i class="material-icons  md-52 " data-toggle="tooltip" data-placement="bottom" title="Cerrar" style=" font-size:38px; color:rgb(255, 255, 255);">clear </i>
       <h5 class="text-white text-align">Salir</h5>
        </button> 
       </div>
 
