<br>
 
  
<div class="container-fluid"> 
    <div class="shadow-lg p-3 mb-5 bg-light rounded">
    <form #formulario=ngForm (ngSubmit)="getMercancia(formulario)">
    <div class="form-row">
    <div class="form-group col-md-4">
        <input type="text" class="form-control" name="_id"
        #_id="ngModel"  [(ngModel)]=o.m._id placeholder="buscar por ID" required>
    </div>
    </div>
    <div class="form-action-row" >
        <button type="submit"  class="btn btn-success">enter</button>
        <button type="reset" class="btn btn-danger"> cancelar</button> 
       </div>
    </form>
      
     <div *ngIf="mercancia"> 
        <table class="table table-hover table-responsive-sm table-bordered" >
            <thead>
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Mercancia</th>
                  <th scope="col">Cantidad Almacenada</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">ID Cliente</th>
                  <th scope="col">Fecha salida</th>
              </tr>
            </thead>
            <tbody>
                <tr >
                <th scope="row-md-3">{{mercancia._id}} </th>
                <td>{{mercancia.nombre}}</td>
                <td> {{mercancia.cantidad_buen_estado}} </td>
                <td>{{mercancia.salida.responsable}}</td>
                <td>{{mercancia.salida.id_cliente}}</td>
                <td>{{mercancia.salida.f_salida}}</td>
                 
                <td>
                  <a id="boton" role="button" class="btn btn-sm"  (click)="SaveDemo()"  >
                    <i class="material-icons" style="color: rgba(16, 148, 16, 0.521);">save</i>
                    </a>
                    <a id="boton" role="button" class="btn btn-sm"  (click)="cancel(mercancia)"  >
                      <i class="material-icons" style="color: red;">clear</i>
                      </a>
                </td>
                
              </tr>
                       
            </tbody>
            
          </table>
          
     </div>
    
    </div>
    
    </div>
     
   
<!--
 <footer>
      <div >
        <table class="table table-hover table-responsive-sm table-bordered" >
          <thead>
            <tr>
                <th scope="col">f_salida</th>
                <th scope="col">_id</th>
                <th scope="col">cantidad_buen_estado</th>
                <th scope="col">telefono</th>
                <th scope="col">mail</th>
                <th scope="col">id_cliente</th>
                <th scope="col">responsable</th>
            </tr>
          </thead>
          <tbody *ngFor="let a of b.arreglo" > 
              <tr *ngIf="mercancia._id==a._id">
              
              <td>{{a.f_salida}}</td>
              <td>{{a._id}}</td>
              <td>{{a.cantidad_buen_estado }}</td>
              <td>{{a.telefono}}</td>
              <td>{{a.mail}}</td>
              <td>{{a.id_cliente}}</td>
              <td>{{a.responsable}}</td>
              
            </tr>
                     
          </tbody>
          
        </table>
        
    
      </div>
    </footer>
-->
   