<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: right"> <a class="btn btn-danger">salir</a></div> 

 


<div style="text-align:center">
  <h1>
   Bienvenido a SGLAM
  </h1>
  
  <img width="150" alt="expreso-andino Logo" src="https://ustvstaticcdn2-a.akamaihd.net/i/channel/picture/1/3/5/4/13549243/13549243_logo_expreso-01_1371046967,192x192,r:1.jpg">
</div>
<h2> Aquí están sus tareas: </h2>
<div class="container"> 
<div class="row">
    <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">  <!--primera card-->
            <button type="button" class="btn" routerlink="entrada" routerLinkActive="active"  data-toggle="tooltip" data-placement="top" title="registrar"(click)="entrada()">
              <i class="material-icons md-52" style="font-size:38px; color:white;">create_new_folder</i>
            </button>
            <p class="card-text text-white"align="justify">Registrar ingreso de mercancia a la bodega de 
                Expreso Andina sede Cartagena.</p>
          </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <button type="button" class="btn" routerlink="salida" data-toggle="tooltip" data-placement="top" title="eliminar"  (click)="salida()">
              <i class="material-icons md-52" style="font-size:38px; color:white;">local_shipping</i>
            </button>
            <p class="card-text text-white"align="justify">Registrar salida de mercancia de la bodega de 
              Expreso Andina sede Cartagena.
            </p>
          </div>
        </div> 
        <div class="card bg-success">
          <div class="card-body text-center">
            <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="consultar" routerlink="consulta"  (click)="consulta()">
                <i class="material-icons md-52" style="font-size:38px; color:white;">search</i>
            </button>
            <p class="card-text text-white" align="justify">Busqueda detallada de mercancia por cliente.
            </p>
          </div>
        </div> 
        <div class="card bg-primary">
          <div class="card-body text-center">
            <button type="button" class="btn" routerlink="info" data-toggle="tooltip" data-placement="top" title="generar"  (click)="info()">
              <i class="material-icons md-52" style="font-size:38px; color:white;">local_printshop</i>
            </button>
            <p class="card-text text-white"align="justify">Generar informe detallado sobre almacenamiento de mercancias.</p>
          </div>
        </div>
      </div>
  </div>
 
<router-outlet></router-outlet>
